# Output binaries and libraries
*.so
*.exe
*.dll
*.dylib
01-hello-world/01-hello-world
02-integers/02-integers
03-iteration/03-iteration
04-arrays-and-slices/04-arrays-and-slices
05-structs/05-structs
06-pointers-and-errors/06-pointers-and-errors
07-maps/07-maps
08-dependency-injection/08-dependency-injection
09-mocking/09-mocking

# Test binary, built with `go test -c`
*.test
